/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  background: #af67e9;
  background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
}

.card {
  background-color: white;
  margin: 16rem 1.5rem 5rem 1.5rem;
  padding: 7rem 2rem 4rem 2rem;
  position: relative;
  border-radius: 2.3rem;
  width: 90%;
}

.card-images-illustration {
  width: 70%;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-images-bg {
  width: 80%;
  position: absolute;
  top: 4.8rem;
  left: 18.4rem;
  transform: translate(-50%, -50%);
}

.card-faq {
  margin-top: 7rem;
}

.card-faq-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 700;
}

.card-faq-question {
  border-bottom: 1px solid #e7e7e9;
}

.card-faq-question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.card-faq-question-header-title {
  font-size: 1.4rem;
  font-weight: 400;
  color: #4a4b5e;
}

.card-faq-question:focus .card-faq-question-header-title {
  font-weight: 700;
  color: #1d1e35;
}

.card-faq-question:focus .card-faq-question-header-arrow {
  transform: rotateX(180deg);
}

.card-faq-question:focus .card-faq-question-text {
  display: block;
}

.card-faq-question-text {
  padding: 1.25rem 0;
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #787887;
  display: none;
}

@media (min-width: 426px) {
  .card {
    width: 70%;
    overflow: hidden;
    margin: 0;
  }
  .card-images-illustration {
    top: 50%;
    left: 27rem;
  }
  .card-images-bg {
    width: 100%;
    top: 17.8rem;
    left: -7.6rem;
  }
  .card-faq {
    width: 50%;
    position: relative;
    left: 50%;
    margin-top: 0;
  }
  .card-faq-title {
    text-align: start;
    font-size: 4rem;
    font-weight: 700;
  }
  .card-faq-question {
    width: 80%;
    cursor: pointer;
  }
  .card-faq-question-header-title:hover {
    color: #f47c57;
  }
}
